<!DOCTYPE html>
<html>
<head>
  <title>Caminos BA - Recorridos Interactivos</title>
  <meta charset="utf-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
  <link href='http://fonts.googleapis.com/css?family=OpenSans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="/stylesheets/recorridos.css" />
  <link rel="stylesheet" type="text/css" href="/bower_components/wow/css/libs/animate.css"/>
  
</head>
<body>
 <div id="map"> </div>
 <div id="error"><h1> Oops, el recorrido que elegiste no existe :-(</h1> 
  <h2> <a href='/'>Intenta con otro</a> </h2></div>
  <script src="/bower_components/wow/dist/wow.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
  <script src="/dist/odyssey.js" charset="UTF-8"></script>
  <script>
  $(document).ready(function(){
    new WOW().init();

  });
    var recorridoId = <%= id %>;

  </script>
  <script src="/scripts/oddisey-client.js"></script>
</body>
</html>

