<div class="page" id="landing-page">
	<div class="page" id="lineup-page">
		<div class="white wow fadeIn ">		
			<div class="wow fadeIn data-title">
			
			<h2 class="wow fadeIn"ng-show="benefits.length > 0">
				<img ng-src="{{client.logo}}"> 
				{{benefits.length }} beneficio<span ng-show="benefits.length > 1">s </span>
				activo<span ng-show="benefits.length > 1">s </span></h2>			
			</div>
		</div>
		<div ng-repeat="b in benefits">
			<h3>{{b.establecimiento.direccion}} - {{b.beneficio.tipo}} <small>{{b.beneficio.descripcion}}</small> </h3>

			<img src="{{b.imagenes.googleMaps}}">
			<img src="{{b.imagenes.streetView}}">
			<img class="pic" ng-show="b.imagenes.pics.length >0" src="{{b.imagenes.pics[0]}}">
			<h4> <small> Iniciada hace</small> <span am-time-ago="b.desde"></span> 
			 |   <small>Valido por  </small>  {{b.hasta | amDifference : null : 'days' }} dias 
			 <a href="" class="black" ng-click="newBeneficio(client,b)" class="button--primary">Create Beneficio Instantaneo </a>
			 <h4>
				
		</div>
	</div>
</div>
