<h1> Caminar Buenos Aires </h1>

	<autocomplete class="search-bar" 
			ng-model="seleccion"
			attr-placeholder="Seleccione el Recorrido" 
			></autocomplete>
	<div class="client-row" ng-repeat="c in recorridos | filter:seleccion">
				<div class="client-lineup-container wow fadeIn animated">
					<div ng-click="gotoClient(c)" class="hand client-lineup"><img src="" ng-src="{{c.logo}}"/>
					</div>
					<div class="centered">
						<a class="black" ng-click="gotoClient(c)" href="">{{c.nombre | limitTo:20}}</a>
					</div>
				</div>
				<div class="buffer"></div>
			</div>
				
