<div class="header wow fadeIn animated centered">
	<h1>Caminar Buenos Aires</h1>
	


	<hr/>
</div>

<div class="wow fadeIn animated centered">
	<h3>Proba alguno de los recorridos</h3>
	
</div>
<autocomplete class="search-bar" 
	ng-model="seleccion"
	attr-placeholder="¿Qué lugares recorres habitualmente?" 
	></autocomplete>
<div class="client-row wow fadeIn animated" ng-repeat="c in recorridos | filter:seleccion">
	<div 
	ng-style="{'background-image':'url('+ c.assets.image +')'}"
		 class="client-lineup-container ">
		<div class="description">
			<h3>
				<a class="white" ng-click="gotoRecorrido(c)" href="">{{c.name}}</a>

			</h3>
			<h5> {{c.total_timepo}} min |  {{c.total_km}} kms </h5> 
		</div>
	</div>
	
</div>
			
