<div class="header wow fadeIn animated centered">
	<h1>Caminar Buenos Aires</h1>
	<img src="/images/logo/png">
	<h4>Ir de un lugar a otro debe ser una experiencia saludable, 
	optimiza tus  los tiempos del traslado y encontrá alternativas a tus trayectos descubriendo nuevas <strong> historias</strong>.<h4>

	<h2><strong> Bajate la app </strong> </h2>

	<hr/>
</div>

<div class="wow fadeIn animated centered">
	<h3>Estos son los recorridos disponibles</h3>
</div>
<autocomplete class="search-bar" 
	ng-model="seleccion"
	attr-placeholder="¿Qué lugares recorres habitualmente?" 
	></autocomplete>
<div class="client-row wow fadeIn animated" ng-repeat="c in recorridos | filter:seleccion">
	<div 
	ng-style="{'background-image':'url('+ c.assets.image +')'}"
		 class="client-lineup-container ">
		<div class="description">
			<h3>
				<a class="white" ng-click="gotoRecorrido(c)" href="">{{c.name}}</a>
				<strong><small>{{c.comuna}} </small></strong>
			</h3>
			<h5> {{c.total_timepo}} min |  {{c.total_km}} kms </h5> 
		</div>
	</div>
	
</div>
			
